# Load every node and link

In [1]:
import shapefile
import pandas as pd
from pyproj import Transformer

In [2]:
node_path = '../data/raw_data/node_link/MOCT_NODE.shp'
link_path = '../data/raw_data/node_link/MOCT_LINK.shp'

sf_node = shapefile.Reader(node_path, encoding='cp949')
sf_link = shapefile.Reader(link_path, encoding='cp949')

In [3]:
node_header = [x[0] for x in sf_node.fields][1:]
node_data = sf_node.records()
shps = [s.points[0] for s in sf_node.shapes()]

link_header = [x[0] for x in sf_link.fields][1:]
link_data = sf_link.records()

node_dataframe = pd.DataFrame(columns=node_header, data=node_data)
node_dataframe = node_dataframe.assign(coords=shps)

link_dataframe = pd.DataFrame(columns=link_header, data=link_data)

In [4]:
link_dataframe

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,...,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,REMARK,HIST_TYPE,HISTREMARK
0,2660315900,2660132500,2660132800,1,107,000,-,삼포해변길,0,0,...,30,0,0,0,0,715.687424,20230519,,,
1,2660336100,2660139100,2660139200,1,107,000,-,화암사길,0,0,...,50,0,0,0,0,942.762880,20230519,,,
2,3260017204,3260008202,3260008203,2,103,000,2,남승룡로,0,0,...,60,0,0,0,0,76.039806,20230519,,,
3,3240003900,3240002000,3240002100,3,107,000,-,영산로,0,0,...,60,0,0,0,0,120.458001,20230519,,,
4,3260023002,3260082400,3260089600,3,103,000,17,백강로,0,0,...,50,0,0,0,0,87.589918,20230519,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545707,1610126800,1610048100,1610046800,4,104,000,-,영종대로,0,0,...,50,0,0,0,0,706.106333,20230519,,,
545708,3190270000,3190005100,3190082600,1,107,000,-,종산로,0,0,...,50,0,0,0,0,323.012917,20230519,,,
545709,3960233200,3960089500,3960012801,1,107,000,-,두항길,0,0,...,50,0,0,0,0,1215.130137,20230519,,,
545710,2140742600,2140292900,2140003300,1,107,000,-,승학동길,0,0,...,50,0,0,0,0,69.740102,20230519,,,
545711,2140751400,2140303100,2140052001,1,107,000,-,-,0,0,...,50,0,0,0,0,120.092953,20230519,도로명없음,,

# Get daegu node and link

In [5]:
daegu_id_range = range(150, 158)
df_node = pd.DataFrame()
df_link = pd.DataFrame()

for i in daegu_id_range:
    res_node = node_dataframe[node_dataframe['NODE_ID'].map(lambda x:x[0:3]==str(i))]
    res_link = link_dataframe[link_dataframe['LINK_ID'].map(lambda x:x[0:3]==str(i))]
    df_node = pd.concat([df_node,res_node],ignore_index=True)
    df_link = pd.concat([df_link,res_link],ignore_index=True)

In [6]:
transformer = Transformer.from_crs('EPSG:5186', 'EPSG:4326')
df_node[['latitude', 'longitude']] = [[*transformer.transform(x, y)] for y, x in df_node['coords']]
del df_node['coords']

In [7]:
df_node

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,REMARK,HIST_TYPE,HISTREMARK,latitude,longitude
0,1500004400,101,종각네거리,1,20230519,,,,35.869226,128.604073
1,1500004800,101,제일교회,0,20230519,,,,35.870140,128.606408
2,1500001900,101,수성교지하차도,0,20230519,,,,35.859613,128.607035
3,1500011501,101,문앞약국,0,20230519,,,,35.865573,128.603883
4,1500001700,101,남산동2321,0,20230519,,,,35.856756,128.587850
...,...,...,...,...,...,...,...,...,...,...
5572,1570244800,101,금포리1370-3,0,20230519,,,,35.774610,128.428026
5573,1570243600,101,금포리1593-8,0,20230519,,,,35.770302,128.426026
5574,1570007502,101,가창교,0,20230519,,,,35.804737,128.623362
5575,1570224901,101,금포리1157,1,20230519,,,,35.777996,128.428355
5576,1570235400,101,중리507-1,0,20230519,,,,35.689787,128.454712

In [8]:
df_link

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,...,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,REMARK,HIST_TYPE,HISTREMARK
0,1500028800,1500001900,1500007300,2,104,000,-,동덕로,0,0,...,30,0,0,0,0,232.318780,20230519,,,
1,1500025500,1500008800,1500005500,1,104,000,-,서성로,0,0,...,30,0,0,0,0,134.295336,20230519,,,
2,1500036502,1500007601,1500008000,1,104,000,-,동성로1길,0,0,...,30,0,0,0,0,65.676241,20230519,,,
3,1500038400,1500001402,1500009700,1,104,000,-,남산로1길,0,0,...,40,0,0,0,0,85.476481,20230519,,,
4,1500000506,1500000303,1500000600,5,104,000,-,달구벌대로,0,0,...,70,0,0,0,0,67.406362,20230519,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15983,1570026500,1570011500,1570011700,2,104,000,-,명천로,0,0,...,50,0,0,0,0,539.867580,20230519,,,
15984,1570918901,1570306501,1570306301,2,101,003,700,대구외곽순환고속도로,1,0,...,80,0,0,0,0,211.105015,20230519,,,
15985,1570577000,1570191500,1570192000,2,104,000,-,국가산단서로,0,0,...,50,0,0,0,0,397.806400,20230519,,,
15986,1570823300,1570274500,1570274400,1,104,000,-,현풍로47길,0,0,...,10,0,0,0,0,29.696691,20230519,,,
15987,1570746700,1570255400,1570255300,1,104,000,-,세천로7길,0,0,...,60,0,0,0,0,27.151425,20230519,,,

# Save

In [9]:
df_node.sort_values(by=['NODE_ID']).to_csv('../data/processed_data/node_link/daegu_node.csv', index=False)
df_link.sort_values(by=['LINK_ID']).to_csv('../data/processed_data/node_link/daegu_link.csv', index=False)